<footer>
    <div class="container align-center" id="footer">        
        <div class="footer-links">
            <p class="align-center footer-logo"><img class="logo" src="{{{global.img_logo}}}"/></p>
            <div class="footer-nav">
                <ul class="nav-list">
                    {{#global.footer.links.products.show_or_hide}}
                        <li><a href="/products">{{global.footer.links.products.text}}</a></li>
                    {{/global.footer.links.products.show_or_hide}}

                    {{#global.footer.links.blog.show_or_hide}}
                        <li><a href="/blog">{{global.footer.links.blog.text}}</a></li>
                    {{/global.footer.links.blog.show_or_hide}}
                </ul>
            </div>
            <div class="footer-social">
                <ul class="social">
                    <li><a href="{{{global.footer.social.twitter.link}}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="{{{global.footer.social.github.link}}}" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="{{{global.footer.social.facebook.link}}}" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="{{{global.footer.social.youtube.link}}}" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <p class="copyright">{{global.footer.copyright}}</p>
            </div>
        </div>
    </div>
</footer>