<header id="navbar">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="toggle fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img class="logo" src="{{{global.img_logo_nav}}}" class="d-inline-block align-top" alt=""/>
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {{#global.navbar.products.show_or_hide}}
                        <a class="nav-item nav-link" href="/products">{{global.navbar.products.text}}</a>
                    {{/global.navbar.products.show_or_hide}}

                    {{#global.navbar.blog.show_or_hide}}
                        <a class="nav-item nav-link" href="/blog">{{global.navbar.blog.text}}</a>
                    {{/global.navbar.blog.show_or_hide}}
                </div>               
            </div>
        </div>
    </nav> 
</header>