<section class="ready" id="register">
    <div class="container align-center">
        <h2><strong>{{global.register.title}}</strong></h2>
        <p class="footer-sub">{{global.register.subtitle}}</p>
        <div class="register row">
            <form id="edd_register_form" class="edd_form" action="" method="post">
                <fieldset>
                    <p>
                        <input id="edd-user-firstName" class="required edd-input" type="text" name="edd_user_login" placeholder="FIRST NAME">
                    </p>
                    <p>
                        <input id="edd-user-lastName" class="required edd-input" type="text" name="edd_user_login" placeholder="LAST NAME">
                    </p>
                    <p>
                        <input id="edd-user-email" class="required edd-input" type="email" name="edd_user_email" placeholder="EMAIL">
                    </p>
                </fieldset>
            </form>
        </div>
        <p class="banner-btn align-center"><button id="btn-register" class="btn btn-md get-started" style="background-color: {{global.register.button_color}}"><span>{{global.register.button_text}}</span></button></p>
    </div>
</section>