
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Netlify</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
      <div class="head-section">
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="toggle fas fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="images/dummy-logo.png" class="d-inline-block align-top" alt="">
                        <span>{{page.name}}</span>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="#">Products</a>
                            <a class="nav-item nav-link" href="#">Pricing</a>
                            <a class="nav-item nav-link" href="#">Docs</a>
                            <a class="nav-item nav-link" href="#">Blog</a>
                            <a class="nav-item nav-link" href="#"><i class="fas fa-search"></i></a>
                        </div>
                        <div class="ml-auto">
                            <a class="nav-sales" href="#">Contact Sales</a>
                            <a class="nav-login" href="#">Login</a>
                            <a class="nav-signup" href="#"><strong>Sign Up →</strong></a>
                        </div>                        
                    </div>
                </div>
            </nav> 
        </header>
        <section class="banner-section">
            <div class="container">
                <h1 class="banner-title">Build, deploy, and manage modern web projects</h1>
                <p class="banner-sub">An all-in-one workflow that combines global deployment, continuous integration, and automatic HTTPS. And that’s just the beginning.</p>
                <p class="banner-btn"><button class="btn get-started"><span>Join now for free</span></button></p>
            </div>
        </section>
        <div class="banner-img"></div>
      </div>

    <main>
        <section class="deploy">
            <div class="container">
                <h2 class="section-title align-center">Deploy your site in seconds<a class="footnote-link" href="#footnote-core">*</a></h2>
                <div class="row">
                    <div class="col-md-4 col-sm-12 step step-1">
                        <h3 class="align-center">Connect your repository</h3>
                        <p><img src="images/deploy2.png"></p>
                    </div>
                    <div class="col-md-4 col-sm-12 step step-2">
                        <h3 class="align-center">Add your build settings</h3>
                        <p><img src="images/deploy3.png"></p>
                    </div>
                    <div class="col-md-4 col-sm-12 step step-3">
                        <h3 class="align-center">Deploy your website</h3>
                        <p><img src="images/deploy1.png"></p>
                    </div>
                </div>
                <p class="subtitle align-center">*Nope, no gotcha here.<br>It just takes a few clicks.</p>
                <p class="banner-btn align-center"><button class="btn get-started"><span>Join now for free</span></button></p>
            </div>
        </section>

        <section>
            <div class="container">
                <h2 class="section-title align-center">Go beyond static</h2>
                <div class="row static-list">
                    <div class="col-md-3 order-md-1 col-sm-12">
                        <p><img src="images/img1.jpg"></p>
                    </div>
                    <div class="col-md-9 order-md-2 col-sm-12 desc">
                        <h3>Nail the fundamentals with rock-solid deployment</h3>
                        <p>Deploy to a redundant network of servers with built‑in continuous integration and HTTPS.</p>
                    </div>
                </div>
                <div class="row static-list">
                    <div class="col-md-3 order-md-2 col-sm-12">
                        <p><img src="images/img3.jpg"></p>
                    </div>
                    <div class="col-md-9 order-md-1 col-sm-12 desc">
                        <h3>Add dynamic functionality with built‑in applications</h3>
                        <p>Manage user identity, HTML forms, and even AWS Lambda functions with ease.</p>
                    </div>
                </div>
                <div class="row static-list">
                    <div class="col-md-3 order-md-1 col-sm-12">
                        <p><img src="images/img2.jpg"></p>
                    </div>
                    <div class="col-md-9 order-md-2 col-sm-12 desc">
                        <h3>Customize your projects with your own build tools or microservices</h3>
                        <p>Use your favorite tools for search, payments, commenting, or content management.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="gradient">
            <div class="container">
                <h2 class="section-title align-center">There’s a better way to deploy web projects</h2>
                <div class="row">
                    <div class="col-md-4 col-sm-12 deploy-list">
                        <p><img src="images/deploy4.png"></p>
                        <h3>A single, simplified workflow</h3>
                        <p>Get all the tools you need to deploy and manage your site. Replace your hosting infrastructure, continuous integration, and deployment pipeline with a single workflow.</p>
                    </div>
                    <div class="col-md-4 col-sm-12 deploy-list">
                        <p><img src="images/deploy6.png"></p>
                        <h3>Performance from the ground up</h3>
                        <p>Run your site on a purpose-built, multi-cloud infrastructure that’s designed for speed, automated to scale, and intrinsically secure.</p>
                    </div>
                    <div class="col-md-4 col-sm-12 deploy-list">
                        <p><img src="images/deploy5.png"></p>
                        <h3>Don’t stop at static</h3>
                        <p>Netlify’s tool-agnostic platform helps you go dynamic on your own terms: choose from built-in add ons, integrate a favorite tool, or roll your own.</p>
                    </div>
                </div>
                <p class="banner-btn align-center"><button class="btn get-started"><span>Join now for free</span></button></p>
                <p class="align-center"><a href="#"><strong>See plans and pricing</a></strong> →</p>
            </div>
        </section>

        <section class="clients">
            <div class="container">
                <h3 class="align-center">More than 500,000 developers trust Netlify</h3>
                <p class="align-center client-logo"><img src="images/logos.png"></p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12 client-list">
                        <div class="client-box">
                            <p><a href="#">Vuejs.org</a> is now powered by <a href="#">@Netlify</a> with a free open source team plan. Really really impressive and smooth deployment experience.</p>
                            <div class="author">
                                <img src="images/2.png">
                                <a href="#">Evan You
                                    <small><i class="fab fa-twitter"></i>@youyuxi</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 client-list">
                        <div class="client-box">
                            <p>Haven’t been as impressed by a software product as I am with <a href="#">@Netlify</a> in a long time. Huge time saver, works as promised. Neat stuff, folks.</p>
                            <div class="author">
                                <img src="images/3.png">
                                <a href="#">Chance Griffin
                                    <small><i class="fab fa-twitter"></i>@cbgriffin</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 client-list">
                        <div class="client-box">
                            <p>I think <a href="#">@Netlify</a> might just be the very best SaaS app I have ever had the privilege to use. It is just *amazing*.</p>
                            <div class="author">
                                <img src="images/4.png">
                                <a href="#">Emma Barnes #FBPE
                                    <small><i class="fab fa-twitter"></i>@has_many_books</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="container align-center">
            <h2><strong>Ready to try Netlify?</strong></h2>
            <p class="footer-sub">Deploy a site in 30 seconds.</p>
            <p class="banner-btn align-center"><button class="btn get-started"><span>Join now for free</span></button></p>

            <div class="footer-links">
                <p class="align-center footer-logo"><img class="logo" src="images/dummy-logo.png"></p>
                <div class="footer-nav">
                    <ul class="nav-list">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                    <ul class="nav-list">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Open Source</a></li>
                    </ul>
                    <ul class="nav-list">
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Community</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fab fa-gitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <ul class="links">
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">GDPR</a></li>
                    </ul>
                    <p class="copyright">Netlify © 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
