
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{page.name}}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
      <div class="head-section">
        {{>header}}
        <section class="banner-section">
            <div class="container">
                <h1 class="banner-title">{{page.hero.title}}</h1>
                <p class="banner-sub">{{page.hero.subtitle}}</p>
                <p class="banner-btn"><button class="btn get-started" style="background-color: {{page.hero.button.color}}"><span>{{page.hero.button.text}}</span></button></p>
            </div>
        </section>
        <div class="banner-img" style="background-image: url({{page.hero.hero-img}});"></div>
      </div>

    <main>
        <section class="deploy">
            <div class="container">
                <h2 class="section-title align-center">{{page.section-1.title}}<a class="footnote-link" href="#footnote">*</a></h2>
                <div class="row">
                    <div class="col-md-4 col-sm-12 step step-1">
                        <h3 class="align-center">{{page.section-1.steps.step1.title}}</h3>
                        <p><img src="{{page.section-1.steps.step1.img}}"></p>
                    </div>
                    <div class="col-md-4 col-sm-12 step step-2">
                        <h3 class="align-center">{{page.section-1.steps.step2.title}}</h3>
                        <p><img src="{{page.section-1.steps.step2.img}}"></p>
                    </div>
                    <div class="col-md-4 col-sm-12 step step-3">
                        <h3 class="align-center">{{page.section-1.steps.step3.title}}</h3>
                        <p><img src="{{page.section-1.steps.step3.img}}"></p>
                    </div>
                </div>
                <p class="subtitle align-center">{{page.section-1.subtitle}}<br>{{page.section-1.subtitle2}}</p>
                <p class="banner-btn align-center"><button class="btn get-started"  style="background-color: {{page.hero.button.color}}"><span>{{page.hero.button.text}}</span></button></p>
            </div>
        </section>

        <section>
            <div class="container">
                <h2 id="#footnote" class="section-title align-center">{{page.section-2.title}}</h2>
                <div class="row static-list">
                    <div class="col-md-3 order-md-1 col-sm-12">
                        <p><img src="{{page.section-2.lists.list1.img}}"></p>
                    </div>
                    <div class="col-md-9 order-md-2 col-sm-12 desc">
                        <h3>{{page.section-2.lists.list1.title}}</h3>
                        <p>{{page.section-2.lists.list1.subtitle}}</p>
                    </div>
                </div>
                <div class="row static-list">
                    <div class="col-md-3 order-md-2 col-sm-12">
                        <p><img src="{{page.section-2.lists.list2.img}}"></p>
                    </div>
                    <div class="col-md-9 order-md-1 col-sm-12 desc">
                        <h3>{{page.section-2.lists.list2.title}}</h3>
                        <p>{{page.section-2.lists.list2.subtitle}}</p>
                    </div>
                </div>
                <div class="row static-list">
                    <div class="col-md-3 order-md-1 col-sm-12">
                        <p><img src="{{page.section-2.lists.list3.img}}"></p>
                    </div>
                    <div class="col-md-9 order-md-2 col-sm-12 desc">
                        <h3>{{page.section-2.lists.list3.title}}</h3>
                        <p>{{page.section-2.lists.list3.subtitle}}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="gradient">
            <div class="container">
                <h2 class="section-title align-center">{{page.section-3.title}}</h2>
                <div class="row">
                    <div class="col-md-4 col-sm-12 deploy-list">
                        <p><img src="{{page.section-3.lists.list1.img}}"></p>
                        <h3>{{page.section-3.lists.list1.title}}</h3>
                        <p>{{page.section-3.lists.list1.subtitle}}</p>
                    </div>
                    <div class="col-md-4 col-sm-12 deploy-list">
                        <p><img style="width: 57%;" src="{{page.section-3.lists.list2.img}}"></p>
                        <h3>{{page.section-3.lists.list2.title}}</h3>
                        <p>{{page.section-3.lists.list2.subtitle}}</p>
                    </div>
                    <div class="col-md-4 col-sm-12 deploy-list">
                        <p><img src="{{page.section-3.lists.list3.img}}"></p>
                        <h3>{{page.section-3.lists.list3.title}}</h3>
                        <p>{{page.section-3.lists.list3.subtitle}}</p>
                    </div>
                </div>
                <p class="banner-btn align-center"><button class="btn get-started" style="background-color: {{page.hero.button.color}}"><span>{{page.hero.button.text}}</span></button></p>
                <p class="align-center"><a href="#"><strong>{{page.section-3.subtitle}}</a></strong> →</p>
            </div>
        </section>

        <section class="clients">
            <div class="container">
                <h3 class="align-center">{{page.section-4.title}}</h3>
                <p class="align-center client-logo"><img src="{{page.section-4.img}}"></p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12 client-list">
                        <div class="client-box">
                            <p><a href="#">{{page.section-4.clients.client1.desc-a}}</a> {{page.section-4.clients.client1.desc}} <a href="#">{{page.section-4.clients.client1.desc-a1}}</a> {{page.section-4.clients.client1.desc2}}</p>
                            <div class="author">
                                <img src="images/2.png">
                                <a href="#">{{page.section-4.clients.client1.name}}
                                    <small><i class="fab fa-twitter"></i>{{page.section-4.clients.client1.social}}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 client-list">
                        <div class="client-box">
                            <p>{{page.section-4.clients.client2.desc}}<a href="#">{{page.section-4.clients.client2.desc-a}}</a> {{page.section-4.clients.client2.desc2}}</p>
                            <div class="author">
                                <img src="images/3.png">
                                <a href="#">{{page.section-4.clients.client2.name}}
                                    <small><i class="fab fa-twitter"></i>{{page.section-4.clients.client2.social}}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 client-list">
                        <div class="client-box">
                            <p>{{page.section-4.clients.client3.desc}}<a href="#">{{page.section-4.clients.client3.desc-a}}</a> {{page.section-4.clients.client3.desc2}}</p>
                            <div class="author">
                                <img src="images/4.png">
                                <a href="#">{{page.section-4.clients.client3.name}}
                                    <small><i class="fab fa-twitter"></i>{{page.section-4.clients.client3.social}}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ready">
            <div class="container align-center">
                <h2><strong>{{global.footer.title}}</strong></h2>
                <p class="footer-sub">{{global.footer.subtitle}}</p>
                <p class="banner-btn align-center"><button class="btn get-started"><span>{{page.hero.button.text}}</span></button></p>
            </div>
        </section>

    </main>

   {{>footer}}

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
