
<!doctype html>
<html lang="en">
  {{>head}}
    <link href="/css/blog.css" rel="stylesheet">
    <link href="/css/single.css" rel="stylesheet">
  </head>

  <body>
        <div class="head-section">
            {{>header}}
         </div>

    <main>
        <section class="post-section">
            <div class="container post-container">
                <h1><strong>{{post.title}}</strong></h1>
                <p class="post-meta">• {{post.dateString}}</p>
                <div>
                    <img class="post-img" src="{{{post.image}}}" alt=""/>
                    {{{post.text}}}
                </div>

                <div class="newsletter">
                    <h5>{{global.newsletter.title}}</h5>
                    <p>{{global.newsletter.subtitle}}</p>
                    <form>
                        <input id="user-email" class="form-control news-input" type="text" placeholder="Email address">
                        <button class="btn get-started" id="btn-subscribe"><span>{{global.newsletter.btn_text}}</span></button>
                    </form>
                </div>
            </div>
            
    </main>

    {{>footer}}

    <script>window.__PRELOADED__ = {{{preloaded}}}</script>

    {{>scripts}}
    <script src="/js/newsletter.js"></script>
  </body>
</html>
