
<!doctype html>
  <html lang="en">
    {{>head}}
    <link href="css/products.css" rel="stylesheet">
  </head>

  <body>
  <div id="vertex-container">
      <div class="head-section">
          {{>header}}
      </div>

  <main>
      <section class="page-title" id="head_section">
          <div class="container align-center">
              <h1 class="title-head">{{page.head_section.title}}</h1>
              <p class="title-desc">{{page.head_section.desc}}</p>
              <p class="banner-btn align-center"><a href="#register" class="register-btn"><button class="btn get-started"  style="background-color: {{page.head_section.button.color}}"><span>{{page.head_section.button.text}}</span></button></a></p>
          </div>
      </section>

      <section class="netlify-list" id="section1">
          <div class="container-fluid">
              <div class="list list-dev">
                <div class="container">
                      <h1 class="title-head">{{page.section1.list1.title}}</h1>
                      <p class="title-sub">{{page.section1.list1.subtitle}}<br>{{page.section1.list1.subtitle2}}</p>
                </div>
              </div>

              <div class="list list-build">
                  <div class="container">
                      <h1 class="title-head">{{page.section1.list2.title}}</h1>
                      <p class="title-sub">{{page.section1.list2.subtitle}}<br>{{page.section1.list2.subtitle2}}</p>
                  </div>
              </div>

              <div class="list list-edge">
                  <div class="container">
                      <h1 class="title-head">{{page.section1.list3.title}}</h1>
                      <p class="title-sub">{{page.section1.list3.subtitle}}<br>{{page.section1.list3.subtitle2}}</p>
                  </div>
              </div>
          </div>
      </section>

      <section class="add-ons" id="section2">
          <div class="container">
                <h2 class="align-center"><strong>{{page.section2.title}}</strong></h2>
                <p class="title-desc">{{page.section2.description}}</p>

                {{#page.section2.lists.list1.show_or_hide}}
                <div class="row add-list">
                    <div class="col-md-7 col-sm-12 content">
                        <h3><img src="{{{page.section2.lists.list1.img-icon}}}"><strong>{{page.section2.lists.list1.title}}</strong></h3>
                        <p class="subtitle">{{page.section2.lists.list1.subtitle}}</p>
                        <p class="desc">{{page.section2.lists.list1.desc}}</p>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <p><img class="img-icon" src="{{{page.section2.lists.list1.img_list}}}"/></p>
                    </div>
                </div>
                {{/page.section2.lists.list1.show_or_hide}}

                {{#page.section2.lists.list2.show_or_hide}}
                <div class="row add-list">
                    <div class="col-md-7 col-sm-12 content">
                        <h3><img src="{{{page.section2.lists.list2.img-icon}}}"><strong>{{page.section2.lists.list2.title}}</strong></h3>
                        <p class="subtitle">{{page.section2.lists.list2.subtitle}}</p>
                        <p class="desc">{{page.section2.lists.list2.desc}}</p>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <p><img class="img-icon" src="{{{page.section2.lists.list2.img_list}}}"/></p>
                    </div>
                </div>
                {{/page.section2.lists.list2.show_or_hide}}

                {{#page.section2.lists.list3.show_or_hide}}
                <div class="row add-list">
                    <div class="col-md-7 col-sm-12 content">
                        <h3><img src="{{{page.section2.lists.list3.img-icon}}}"><strong>{{page.section2.lists.list3.title}}</strong></h3>
                        <p class="subtitle">{{page.section2.lists.list3.subtitle}}</p>
                        <p class="desc">{{page.section2.lists.list3.desc}}</p>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <p><img class="img-icon" src="{{{page.section2.lists.list3.img_list}}}"/></p>
                    </div>
                </div>
                {{/page.section2.lists.list3.show_or_hide}}

                {{#page.section2.lists.list4.show_or_hide}}
                <div class="row add-list">
                    <div class="col-md-7 col-sm-12 content">
                        <h3><img src="{{{page.section2.lists.list4.img-icon}}}"><strong>{{page.section2.lists.list4.title}}</strong></h3>
                        <p class="subtitle">{{page.section2.lists.list4.subtitle}}</p>
                        <p class="desc">{{page.section2.lists.list4.desc}}</p>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <p><img class="img-icon" src="{{{page.section2.lists.list4.img_list}}}"/></p>
                    </div>
                </div>
                {{/page.section2.lists.list4.show_or_hide}}
          </div>
      </section>

      <section class="gray-box" id="section3">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-sm-12">
                      <h2 class="title-head2"><strong>{{page.section3.title}}</strong></h2>
                      <p class="title-desc">{{page.section3.description}}</p>
                  </div>
                  <div class="col-md-4 col-sm-12">
                      <div class="check-list">
                          <ul>
                              {{#page.section3.checklist}}
                                  <li><i class="fas fa-check-circle"></i>{{text}}</li>
                              {{/page.section3.checklist}}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="simple" id="section4">
          <div class="container">
                <h2 class="align-center"><strong>{{page.section4.title}}</strong></h2>
                <p class="title-desc align-center">{{page.section4.description}}</p>
                <div class="container-list">
                    {{#page.section4.lists.list1.show_or_hide}}
                    <div class="row simple-list">
                        <div class="col-md-9 col-sm-12 order-md-2 pad-top">
                            <h4><strong>{{page.section4.lists.list1.title}}</strong></h4>
                            <p>{{page.section4.lists.list1.desc}}</p>
                        </div>
                        <div class="col-md-3 col-sm-12 order-md-1">
                            <img src="{{{page.section4.lists.list1.img_list}}}"/>
                        </div>
                    </div>
                    {{/page.section4.lists.list1.show_or_hide}}

                    {{#page.section4.lists.list2.show_or_hide}}
                    <div class="row simple-list">
                        <div class="col-md-9 col-sm-12 pad-top">
                            <h4><strong>{{page.section4.lists.list2.title}}</strong></h4>
                            <p>{{page.section4.lists.list2.desc}}</p>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <img src="{{{page.section4.lists.list2.img_list}}}"/>
                        </div>
                    </div>
                    {{/page.section4.lists.list2.show_or_hide}}

                    {{#page.section4.lists.list3.show_or_hide}}
                    <div class="row simple-list">
                        <div class="col-md-9 col-sm-12 order-md-2 pad-top">
                            <h4><strong>{{page.section4.lists.list3.title}}</strong></h4>
                            <p>{{page.section4.lists.list3.desc}}</p>
                        </div>
                        <div class="col-md-3 order-md-1 col-sm-12">
                            <img src="{{{page.section4.lists.list3.img_list}}}"/>
                        </div>
                    </div>
                    {{/page.section4.lists.list3.show_or_hide}}

                    {{#page.section4.lists.list4.show_or_hide}}
                    <div class="row simple-list">
                        <div class="col-md-9 col-sm-12 pad-top">
                            <h4><strong>{{page.section4.lists.list4.title}}</strong></h4>
                            <p>{{page.section4.lists.list4.desc}}</p>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <img src="{{{page.section4.lists.list4.img_list}}}"/>
                        </div>
                    </div>
                    {{/page.section4.lists.list4.show_or_hide}}

                    {{#page.section4.lists.list5.show_or_hide}}
                    <div class="row simple-list">
                        <div class="col-md-9 col-sm-12 order-md-2 pad-top">
                            <h4><strong>{{page.section4.lists.list5.title}}</strong></h4>
                            <p>{{page.section4.lists.list5.desc}}</p>
                        </div>
                        <div class="col-md-3 order-md-1 col-sm-12">
                            <img src="{{{page.section4.lists.list5.img_list}}}"/>
                        </div>
                    </div>
                    {{/page.section4.lists.list5.show_or_hide}}
                </div>
          </div>
      </section>

      {{>register}}

  </main>

  {{>footer}}
    </div>
    
    <script>
        window.__PRELOADED__ = {{{preloaded}}}
    </script>

    <!-- Vertex library for enabling site updates from https://www.vertex360.co -->
    <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/vertex.min.js"></script>
    {{>scripts}}
  </body>
</html>
