
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{page.name}}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
    <link href="css/single.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
      <div class="head-section">
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="toggle fas fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="{{page.logo}}" class="d-inline-block align-top" alt="">
                        <span>{{page.name}}</span>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            {{#page.head-nav}}
                                <a class="nav-item nav-link active" href="{{link}}">{{text}}</a>
                            {{/page.head-nav}}
                            <a class="nav-item nav-link nav-search" href="#"><i class="fas fa-search"></i></a>
                        </div>
                        <form class="form-inline">
                            <input class="form-control search-input" type="search" placeholder="Search..." aria-label="Search">
                        </form>
                        <div class="ml-auto head-nav2">
                            {{#page.head-nav2}}
                                <a href="#">{{text}}</a>
                            {{/page.head-nav2}}
                        </div>                        
                    </div>
                </div>
            </nav> 
        </header>
      </div>

    <main>
        <section class="post-section">
            <div class="container post-container">
                <p class="post-meta">By <a href="#">{{page.post.meta.author}}</a> in <a href="#">{{page.post.meta.in}}</a> • {{page.post.meta.date}}</p>
                <h1><strong>{{page.post.title}}</strong></h1>
                <p class="post-img"><img src="{{page.post.img}}"></p>
                <p>{{page.post.content.p1}} <a href="#">{{page.post.content.a}}</a> {{page.post.content.p1a}}</p>
                <p>{{page.post.content.p2}}</p>
                <p>{{page.post.content.p3}}</p>

                <div class="tools other-section">
                    <h2><strong>{{page.tools.title}}</strong></h2>
                    {{#page.tools.content}}
                        <p>{{text}}</p>
                    {{/page.tools.content}}
                    <p class="quote">{{page.tools.quote}}</p>
                </div>

                <div class="confidence other-section">
                    <h2><strong>{{page.confidence.title}}</strong></h2>
                    {{#page.confidence.content}}
                        <p>{{text}}</p>
                    {{/page.confidence.content}}
                </div>

                <div class="dev other-section">
                    <h2><strong>{{page.dev.title}}</strong></h2>
                    {{#page.dev.content}}
                        <p>{{text}}</p>
                    {{/page.dev.content}}
                    <pre><code>{{page.dev.code}}</code></pre>
                    {{#page.dev.content2}}
                        <p>{{text}}</p>
                    {{/page.dev.content2}}
                </div>

                <div class="live other-section">
                    <h2><strong>{{page.live.title}}</strong></h2>
                    <p>{{page.live.p}}</p>
                    <pre><code><span>{{page.live.code.comment}}</span>{{page.live.code.text}}</code></pre>
                    {{#page.live.content}}
                        <p>{{text}}</p>
                    {{/page.live.content}}
                </div>

                <div class="hands-on other-section">
                    <h2><strong>{{page.hands-on.title}}</strong></h2>
                    {{#page.hands-on.content}}
                        <p>{{text}}</p>
                    {{/page.hands-on.content}}
                </div>

                <div class="update other-section">
                    <h2><strong>{{page.update.title}}</strong></h2>
                    <p>{{page.update.text}}</p>
                </div>

                <div class="author-box">
                    <ul>
                        {{#page.author.tags}}
                            <li><a href="#">{{text}}</a></li>
                        {{/page.author.tags}}
                    </ul>
                    <div class="author-info">
                        <a href="#"><img src="{{page.author.img}}"></a>
                        <p class="info">Written by <a href="#">{{page.author.name}}</a><br> <span>Published in <a href="#">{{page.author.in}}</a> {{page.author.date}}</span></p>
                    </div>
                </div>

                <div class="newsletter">
                    <h5>{{page.newsletter.title}}</h5>
                    <p>{{page.newsletter.desc}}</p>
                    <form>
                        <input class="form-control news-input" type="text" placeholder="Email address">
                        <button class="btn get-started"><span>{{page.newsletter.btn-text}}</span></button>
                    </form>
                </div>
            </div>
            <div class="container-fluid next">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="next-box left-box">
                            <div class="post-box next-content">
                                <h4>{{page.next.post1.title}}</h4>
                                <p>{{page.next.post1.desc}}</p>
                                <p>By <a href="#">{{page.next.post1.name}}</a> in <a href="#">{{page.next.post1.in}}</a> • {{page.next.post1.date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="next-box right-box">
                            <div class="post-box next-content">
                                <h4>{{page.next.post2.title}}</h4>
                                <p>{{page.next.post2.desc}}</p>
                                <p>By <a href="#">{{page.next.post2.name}}</a> in <a href="#">{{page.next.post2.in}}</a> • {{page.next.post2.date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="banner-section">
            <div class="container">
                <h1 class="banner-title">{{page.hero.title}}</h1>
                <p class="banner-sub">{{page.hero.subtitle}}</p>
                <p class="banner-btn"><button class="btn get-started" style="background-color: {{page.hero.button.color}}"><span>{{page.hero.button.text}}</span></button></p>
            </div>
        </section>
            
    </main>

    <footer>
        <div class="container align-center">
            <div class="footer-links">
                <p class="align-center footer-logo"><img class="logo" src="{{page.logo}}"></p>
                <div class="footer-nav">
                    <ul class="nav-list">
                        {{#page.footer.footer-links.link1}}
                            <li><a href="#">{{text}}</a></li>
                        {{/page.footer.footer-links.link1}}
                    </ul>
                    <ul class="nav-list">
                        {{#page.footer.footer-links.link2}}
                            <li><a href="#">{{text}}</a></li>
                        {{/page.footer.footer-links.link2}}
                    </ul>
                    <ul class="nav-list">
                        {{#page.footer.footer-links.link3}}
                            <li><a href="#">{{text}}</a></li>
                        {{/page.footer.footer-links.link3}}
                    </ul>
                </div>
                <div class="footer-social">
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fab fa-gitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <ul class="links">
                        {{#page.footer.footer-links.link4}}
                            <li><a href="#">{{text}}</a></li>
                        {{/page.footer.footer-links.link4}}
                    </ul>
                    <p class="copyright">{{page.footer.copyright}}</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
