.head-section {
    padding-bottom: 1rem;
}
.post-container {
    max-width: 38em;
    color: #0e1e25cc;
}
.post-container h1 {
    font-size: 3rem;
    color: #0e1e25;
}
.post-meta,
.post-meta a {
    color: #0e1e258a;
    font-size: 1rem;
}
.post-meta a {
    text-decoration: underline;
}
.post-meta a:hover,
.post-container p a:hover {
    text-decoration: underline;
    color: #0e1e25;
}
.post-container p a {
    color: #0e1e25cc;
    text-decoration: underline;
}
.post-container p {
    margin-bottom: 1.5rem;
}
.post-img {
    margin: 4rem 0 3rem;
}
.post-img img {
    margin-bottom: 1.5rem;
}
.other-section {
    margin-top: 6rem;
}
.other-section h2 {
    margin-bottom: 1.5rem;
}
.quote {
    border-left: 4px solid #0e1e2517;
    color: #0e1e258a;
    font-size: 1.3rem;
    font-style: italic;
    margin: 2rem 0;
    padding-left: 2rem;
}
.dev pre,
.live pre {
    background: #0e1e25;
    border-radius: 4px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.live pre span {
    color: #7c7c7c;
    display: block;
}
.author-box {
    margin-top: 3rem;
}
.author-box ul li {
    display: inline-block;
}
.author-box ul li a {
    background: #0e1e25de;
    border-radius: 4px;
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .03em;
    margin-right: .5rem;
    opacity: .38;
    padding: .3rem .5rem;
}
.author-info {
    margin-top: 2rem;
    position: relative;
}
.author-info img {
    width: 60px;
}
.author-info .info {
    color: #0e1e25cc;
    font-size: 1.1rem;
    display: inline-block;
    margin-left: 1rem;
    position: absolute;
    bottom: -1.3rem;

}
.author-info .info span,
.author-info .info span a {
    font-size: 1rem;
    color: #0e1e258a;
}
.newsletter {
    margin-top: 3rem;
    color: #0e1e258a;
}
.newsletter::before {
    background-image: linear-gradient(-90deg,#0e1e2500 0,#0e1e25 5%,#0e1e25 90%,#0e1e2500 100%);
    content: "";
    display: block;
    height: 2px;
    opacity: .08;
    position: absolute;
    width: 100%;
}
.newsletter h5 {
    font-weight: 600;
    color: #0e1e25;
    margin-bottom: 1.2rem;
    padding-top: 2.5rem;
}
.news-input {
    width: 40%;
    display: inline-block;
    margin-right: 1rem;
    padding: 1.25rem 1rem
}
.newsletter form {
    margin-top: 2rem;
}
.banner-section {
    background-image: url(../images/laptop.jpg);
    background-size: cover;
    color: #fff;
    padding: 5rem 0 8rem;
    margin-top: -4rem;
}
.post-section {
    position: relative;
}
.next {
    margin-top: 6rem;
    width: 85%;
}
.next-box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #ffffff1a, 0 2px 4px 0 #0e1e251f;
    overflow: hidden;
    padding: 3rem 3rem 1rem 2rem;
    position: relative;
    z-index: 2;
}
.next-box::before {
    background: #0e1e25;
    content: "";
    display: block;
    height: 2rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.post-box {
    margin-top: 1rem;
    margin-right: 0;
}
.left-box {
    margin-left: 2rem;
}
.right-box {
    margin-right: 2rem;
}

/** Footer **/
.footer-links::before {
    background-image: none;
}

@media (max-width: 768px) {
    .next {
        width: 100%;
    }
    .next-box {
        height: 305px;
    }
}

@media (max-width: 576px) {
    .news-input {
        width: 60%;
    }
    .left-box {
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .right-box {
        margin-right: 0;
    }
}