
@font-face {
    font-family: Omnes;
    src: url(fonts/Omnes.ttf)
}
@font-face {
    font-family: OmnesExtraLight;
    src: url(fonts/omnes-extralight.otf)
}

body {
    font-family: 'Roboto',"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
}
img {
    width: 100%;
}
a {
    transition: all .3s ease;
}
a:hover {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
section {
    overflow: hidden;
}
.container {
    width: 1200px;
    position: relative;
    z-index: 2;
    transition: all .5s ease-in-out;
}
.container-md {
    max-width: 720px;
}
.container-sm {
    max-width: 630px;
}
.container,
.container-md,
.container-sm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}

/*** Navbar ***/
header {
    padding-top: 15px;
}
.logo {
    width: 30px;
    height: 30px;
}
.navbar .container {
    padding-bottom: .3rem;
}
.navbar .container::after {
    background-image: linear-gradient(-90deg,#fff0 0,#fff 5%,#fff 90%,#fff0 100%);
    content: "";
    display: block;
    height: 2px;
    opacity: .08;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.navbar-nav a,
.head-nav2 a {
    color: #fff;
    opacity: .8;
    line-height: 1;
}
.head-nav2 a {
    padding: .5rem;
}
.head-nav2 a:first-child {
    border-right: 2px solid #fff3;
    padding: .5rem 1rem;
}
.navbar-nav a:hover,
.head-nav2 a:hover {
    color: #fff;
    opacity: 1;
}
.navbar-brand {
    color: #fff;
    margin-right: 30px;
    font-size: 1.6rem;
}
.navbar-brand:hover {
    color: #fff;
}
.search-input {
    background-color: transparent;
    margin-left: .5rem;
}
.form-inline {
    display: none;
    animation: fadeInRight 2s;
}
@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 

/*** Banner ***/
.head-section {
    color: rgba(255,255,255,.9);
    margin-bottom: 10rem;
    position: relative;
    overflow: hidden;
}
.banner-section {
    padding-bottom: 10rem;
    margin-top: 2rem;
}
.banner-section .announcement {
    background: #0e1e25;
    border-radius: 4px;
    display: inline-block;
    font-size: .7em;
    margin: 0;
    max-width: none;
    padding: .2em .6em;
    position: relative;
    margin-top: 2.5rem;
}
.banner-section .announcement a {
    text-decoration: underline;
}
.banner-title {
    margin-top: 1.5em;
    max-width: 13em;
    font-size: 2.6em;
    font-weight: bold;
}
.banner-sub {
    max-width: 30em;
}
.banner-btn {
    margin-top: 2rem;
}
.get-started {
    background: #00ad9f;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ffffff1a, 0 2px 4px 0 #0e1e251f;
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 1.6em;
    padding: .4em 1em;
    transition: all .15s ease;
}
.get-started span {
    font-weight: 600;
}
.banner-img {
    background-image: url(https://lh3.googleusercontent.com/PmfvI_NjuJh2F9xkGAKHxsF7MWKpQrfaHkgQh7TygcqdUuEWFAmWsO0e1q5IV4DrMy2cbPO8a9a-73M6dzU64lt2u5o);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
    animation: fadeIn ease-in .75s forwards;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.image-right-bg img {
    position: absolute;
    width: 45%;
    top: 8%;
    right: 0;
}

/*** Sections ***/
.section-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 2.6rem;
}
.footnote-link {
    color: currentColor;
    opacity: .5;
}
.step h3 {
    margin-bottom: 2rem;
}
.step h3,
.static-list h3,
.deploy-list h3 {
    color: #0e1e25;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.3;
}
.step h3:before {
    background: #0e1e2561;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: .618em;
    line-height: 1.618em;
    margin-right: .618em;
    position: relative;
    text-align: center;
    top: -.236em;
    width: 1.618em;
}
.step-1 h3:before {
    content: '1';
}
.step-2 h3:before {
    content: '2';
}
.step-3 h3:before {
    content: '3';
}
.step img {
    width: 55%;
    display: block;
    margin: auto;
}
.subtitle {
    font-size: 1rem;
    margin-top: 1.6em;
    color: #0e1e258a;
}
.deploy {
    margin-bottom: 6rem;
}
.deploy-list {
    margin-top: 3rem;
}
.static-list {
    max-width: 37.577em;
    margin: auto;
    margin-bottom: 2rem;
}
.static-list h3 {
    font-weight: normal;
}
.static-list p {
    font-size: 1rem;
    color: #0e1e258a;
}
.static-list .desc {
    margin-top: 1rem;
}
.static-list:last-child {
    margin-bottom: 7rem;
}
.gradient {
    background-color: #080067;
    background-image: linear-gradient(0deg,#000758cc,#080066);
    overflow: hidden;
    text-shadow: 0 2px 20px #00000029;
    color: #fff;
    padding: 5rem 0;
}
.deploy-list h3 {
    color: #fff;
    font-weight: normal;
}
.deploy-list p {
    color: #ffffffe6;
    font-size: 1rem;
}
.deploy-list p img {
    width: 45%;
    height: 174px;
    display: block;
    margin: auto;
    padding-bottom: 1rem;
}
.gradient a {
    color: #fff;
    font-size: 1rem;
}
.clients {
    padding: 5rem 0;
    background: #f4f7f8;
}
.clients .client-logo img {
    width: 75%;
    margin-top: 2rem;
}
.client-list {
    padding: .5rem;
    margin-top: 2rem;
}
.client-list .client-box {
    box-shadow: 0 0 0 1px #ffffff1a, 0 2px 4px 0 #0e1e251f;
    background: #fff;
    border-radius: 8px;
    padding: 1.6rem;
    font-size: 1rem;
    height: 186px;
}
.client-list .client-box p a {
    color: #00ad9f;
    outline-color: #00c2b2;
}
.client-list .client-box p a:hover {
    text-decoration: underline;
}
.client-list .client-box .author {
    position: absolute;
    bottom: 1.8rem;
    width: 60%;
}
.client-list .client-box .author img {
    background: #fff;
    border-radius: 50%;
    float: left;
    height: 3em;
    margin-right: 1em;
    width: 3em;
}
.client-list .client-box .author a,
.client-list .client-box .author a small {
    color: inherit;
    opacity: .7;
}
.client-list .client-box .author a:hover,
.client-list .client-box .author a small:hover  {
    opacity: 1;
}
.client-list .client-box .author a small {
    display: block;
}
.client-list .client-box .author a small .fab {
    opacity: .3;
    margin-right: 3px;
    padding-top: 3px;
    font-size: 1rem;
}
.ready {
    padding: 5rem 0 4rem;
    background: #f4f7f8;
}
.deploy-list:nth-child(2) p img {
    width: 57%;
}

/*** Footer ***/
footer {
    background: #f4f7f8;
    padding-bottom: 2rem;
}
.footer-sub {
    color: #0e1e258a;
    margin-top: 1rem;
}
footer .banner-btn {
    margin-top: 1.3rem;
}
.footer-links::before {
    background-image: linear-gradient(-90deg,#0e1e2500 0,#0e1e25 5%,#0e1e25 90%,#0e1e2500 100%);
    content: "";
    display: block;
    height: 2px;
    opacity: .08;
    position: absolute;
    width: 100%;
}
.footer-logo {
    padding-top: 2rem;
}
.footer-nav {
    margin: 1em auto 0;
    max-width: 29.03em;
    display: flex;
    justify-content: space-between;
}
.footer-nav ul.nav-list {
    flex: 1;
    line-height: 2;
    margin: 1em 0;
}
.footer-nav ul.nav-list li a,
.footer-social ul.social li a .fab,
.footer-social .links li a {
    color: #0e1e25;
    opacity: .5;
    font-size: 1rem;
    white-space: nowrap;
}
.footer-nav ul.nav-list li a:hover,
.footer-social ul.social li a .fab:hover,
.footer-social .links li a:hover  {
    opacity: 1;
}
.footer-social {
    margin: 1em auto 0;
    max-width: 29.03em;
}
.footer-social ul.social li {
    display: inline-block;
    margin-right: 35px;
}
.footer-social ul.social li:last-child {
    margin-right: 0;
}
.footer-social ul.social li a .fab  {
    font-size: 1.8rem;
}
.footer-social .links {
    margin-top: 2.5rem;
}
.footer-social .links li {
    display: inline-block;
}
.footer-social .links li a {
    border-right: 1.5px solid #0e1e25;
    padding: 0 18px;
}
.footer-social .links li:last-child a {
    border-right: none;
    padding: 0 18px;
}
.copyright {
    color: #0e1e2561;
    font-size: .9rem;
}

@media (max-width: 768px) {
    .banner-img {
        height: 565px;
    }
    .head-section {
        margin-bottom: 4rem;
    }
    .client-list .client-box {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .banner-img {
        height: auto;
    }
    .banner-title {
        text-align: center;
        margin-bottom: 2rem;
    }
    .static-list p img {
        width: 65%;
        display: block;
        margin: auto;
    }
    .clients .client-logo img {
        width: 100%;
    }
}